<h1> Schedule New Appointment </h1>
<%= render partial: 'errors_form' %>

<%= form_for @appointment, url: user_appointments_path(@appointment.user_id) do |f| %>
<%= f.hidden_field :user_id %>
<%= f.label :user %>
<%= f.collection_select :user_id, current_user, :name  %>
<br>
<br>
<%= f.label :hair_stylist %>
<%= f.collection_select :hair_stylist_id, Hair_stylist.all, :id, name%>
<br>
<br>
<%= f.label :hairstyle %>
<%= f.select :hairstyle, Appointment.hairstyle %>
<br>
<br>
<%= f.label :date_time %>
<%= f.datetime_select :date_time %>
<br>
<br>
<%= f.submit  %>
<br>
<br>

<% end  %>
