<h1> Dears You can schedule your New Appointment here </h1>
<%= render partial: 'errors_form' %>

<%= form_for @appointment, url: user_appointments_path(@appointment.user_id) do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>


<br>
<%= f.label :hair_stylist %>
<%= f.select :hair_stylist, HairStylist.stylist_names%>
<br>
<br>
<%= f.label :hairstyle %>
<%= f.select :hairstyle, Appointment.style_names %>
<br>
<br>
<%= f.label :date_time %>
<%= f.datetime_select :date_time %>
<br>
<br>
<%= f.submit  %>
<br>
<br>

<% end  %>
