<div class="buttons">
<%= link_to "Cancel Appointment", user_appointment_path(@appointment.user.id, @appointment), method: :delete, data: {confirm: "Are you sure?"}%>
</div>

<div class="buttons">
<%= link_to "Change Appointment", edit_user_appointment_path(@appointment.user.id, @appointment)%>
</div>
<br>

<div>
  <p><b>Appointment for:</b><%= @appointment.user.name %></p>
  <p><b> Hair Stylist:</b><%= @appointment.hair_stylist.name %></p>
  <p><b> Hair Style:</b><%= @appointment.hair_style %></p>
  <p><b> Date & Time:</b><%= @appointment.date_time.strftime('%b, %e, %1:%M %p') %></p>
</div>
