<!DOCTYPE html>
<html>
  <head>
    <title>rails_law </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
      body {text-align:center;}
    </style>
  <body>
     <div class="topnav">
       <%= render 'devise/menu/welcome_items' %>
     </div>
<font color="red"
      <div class="content">
        <h2> *** Welcome To Hair Salon ***</h2>
        <h1> Valorie  </h1>
</div>
</font>

      <div align="center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        </div>


        <div class="footer">
  <p>  ************************************************************** </p>

             <p> Valorie Hair Salon </p>
              <p> 299 Broadway </p>
              <p> New York, NY 10001   </p>
              <p> tel. 212-969-1000 </p>
        </div>
  </body>
</html>
