<!DOCTYPE html>
<html>
  <head>
    <title>rails_law </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <div class="topnav">
       <%= render 'devise/menu/welcome_items' %>
     </div>

      <div class="content">
        <h1> Valorie </h1>
        <h2> *** Welcome To Hair Salon ***</h2>
      </div>
      <div align="center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        </div>

        <div class="footer">
          <p> Valorie Hair Salon </p>
          <P> 299 Broadway </p>
          <p> New York, NY 10001   </p>
          <p> tel. 212-969-1000 </p>

        </div>
  </body>
</html>
